node_modules/
package-lock.json
devconfig.json
devconfig1.json
devconfig2.json
devconfig3.json
devconfig4.json
devconfig5.json
.DS_Store
openticketdebug.txt
developerChangelog.md
storage/dynamicDB/
storage/slashcmdEnabled.txt
storage/database.json
storage/tsdatabase.json
storage/.DS_Store
.vscode/
livestatus.json
test.js
devtsconfig.json
plugins/*
!plugins/example.plugin.js