node_modules/
package-lock.json
.vscode/

devconfig/
devdatabase/
plugins/*
!plugins/example-plugin/
database/openticket.sqlite
dist/

otdebug.txt

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
**/.DS_Store

.docs/*
!.docs/createDocs.js
!.docs/typedoc-config.json